body {
  background-color: #9e615a;
}

article {
  margin-bottom: 1em;
  background-color: #f7f4f4;
}



/*header, nav ja linkit*/
header,
main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 20px 20px;
  font-family: verdana;
  border-radius: 10px;
}

header {
  margin-bottom: 1em;
  background-color: #513c41;
  border-radius: 10px 10px 0px 0px;
}

header h1 {
  padding: 10px 10px 10px 10px;
  font-size: 1.5em;
  text-align: center;
  color: #f7f4f4;
}

nav ul {
  text-align: center;
}

nav li {
  padding: 10px 10px 10px 20px;
  display: inline-block;
}

nav li a {
  line-height: 2em;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  color: #f7f4f4;
}

a:visited {
  color: #9291a1;
}

nav li a:hover {
  background-color: #e4b373;
  color: #9e615a;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.c1 {
  font-style: italic;
  padding: 0em 1.5em 1.5em 1.5em;
}

/*tekstien määrittelyä*/
article h2 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: large;
  font-weight: bold;
}

article p {
  padding: 1.5em 1.5em 1em 1.5em;
}



/*kuvien muotoilu*/
img {
  max-width: 100%;
}

.omakuva {
  width: 600px;
}

.sivu li{
  display: inline-block;
  max-width: 300px;
  margin-right: 0.5em;
  margin-bottom: 1em;
  margin-left: 0.5em;
  vertical-align: top;
  
  position: relative;
}

.sivu li img,
.sivu ul img{
    border: 5px;
    border-color: #E4B373;
    border-style: solid;
    display: inline-block;

    width: 300px;
    height: 300px;
}

ul.sivu,
li.sivu {
    padding-left: 0px;
    margin: 0px;
}

figcaption {
  text-align: center;
}



/*div muotoilu*/
div a {
  color: black;
}

div a:visited {
  color: black;
}

.flex {
  display: flex;
  flex-direction: row;
}

div h2 {
  font-weight: bold;
  font-size: large;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 2em;
}

div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1000px;
}

.esittely {
  padding-top: 0.5em;
  padding-left: 1em;
  padding-bottom: 2em;
}



/*table määrittely*/
article table,
article tr,
article td {
  background-color: #e4b373;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  padding: 3px 10px 3px 10px;
  width: 750px;
}

article th {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 3px 10px 3px 10px;
}

table tr:nth-child(even),
td:nth-child(even),
td:nth-child(odd) {
  background-color: #9e615a;
}

table tr:nth-child(1) {
  background-color: #523c41;
}

table td:nth-child(1) {
    width: 200px;
  }

  table td:nth-child(3) {
    width: 200px;
  }



/*listojen muotoilu*/
h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;

}

article h3 {
  padding-left: 1.5em;
}

ul.lista{
    display: inline-block;
    padding-left: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 23%;
}

li.yks {
  list-style-type: disc;
}

li.kaks {
  list-style-type: square;
}

li.kolme {
  list-style-type: circle;
}



/*kaavake muotoilu*/
.taulukko {
  padding-bottom: 1em;
  padding-right: 1em;
  justify-content: left;
  padding-left: 15em;
}

.painikkeet {
  padding-bottom: 1em;
}



/* footerin muotoilu*/
footer {
  margin-bottom: 1em;
  background-color: #513c41;
  border-radius: 0px 0px 10px 10px;
  color: #f7f4f4;
}

footer div {
  display: inline-block;
  width: 47%;
  text-align: left;
  vertical-align: top;
  padding: 10px 10px 10px 10px;
}

.oikea {
  text-align: right;
}